<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='media_resources/favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
    <title>Absinthe Todo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-[#fafafa] antialiased">
    <!-- Header Bar -->
    <header class="flex items-center justify-between bg-[#3d72fe] shadow-xl">
      <div>
        <!-- Logo and App name -->
        <h1
          class="font-rubik flex items-center text-nowrap p-3 px-5 text-2xl font-medium text-white"
        >
          <img
            src="../static/media_resources/logopng.png"
            alt="App logo"
            class="mr-2 inline-block h-10"
          />
          Absinthe Todo
        </h1>
      </div>

      <!-- User Avt and Name -->
      <div id="user-info">
        <button
          class="mr-4 flex items-center transition-all duration-300 focus:outline-none active:scale-110 active:opacity-80"
        >
          <span class="font-roboto mr-2 text-sm text-white">John Doe</span>
          <img
            src="https://via.placeholder.com/40"
            alt="User Avatar"
            id="user-avatar"
            class="hidden h-10 w-10 rounded-full sm:block"
          />
        </button>
      </div>
    </header>

    <!-- Logout menu -->
    <div
      id="logout-menu"
      class="font-rubik absolute right-3 mt-2 hidden -translate-y-4 transform cursor-pointer rounded-md border-2 bg-white opacity-0 shadow-sm transition-all duration-300"
    >
      <ul>
        <li class="text-md p-2 text-sm font-medium text-black">
          <a href="{{ url_for('logout') }}">LOG OUT</a>
        </li>
      </ul>
    </div>

    <!-- Task management -->
    <main
      class="font-rubik mx-auto mt-24 max-w-3xl rounded-md border bg-white shadow-xl"
    >
      <!-- Add task -->
      <div class="m-4 flex justify-around">
        <input
          type="text"
          placeholder="Type here to add new task..."
          class="mr-2 w-full rounded-md focus:outline-none"
        />
        <button type="submit">
          <svg
            class="text-white-800 h-6 w-6"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="#bdbdbd"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M3 4a1 1 0 0 0-.822 1.57L6.632 12l-4.454 6.43A1 1 0 0 0 3 20h13.153a1 1 0 0 0 .822-.43l4.847-7a1 1 0 0 0 0-1.14l-4.847-7a1 1 0 0 0-.822-.43H3Z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>

      <!-- Separator line -->

      <hr id="separator" class="h-px border-0 bg-black" />

      <!-- Display tasks -->
      <div class="m-4">
        <ul id="task-list">
          <li
            class="task-item mb-2 flex w-full items-center justify-between p-2"
          >
            <input
              type="checkbox"
              class="task-checkbox mr-4 h-5 w-5 cursor-pointer"
            />
            <input
              type="text"
              value="This is a task"
              class="task-content flex-1 border-none focus:outline-none"
            />
            <button class="task-delete">
              <svg
                class="text-black-800 h-[24px] w-[24px]"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="#de5246"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </main>
  </body>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</html>
