<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='media_resources/favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
    <title>Absinthe Todo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-[#fafafa] antialiased">
    <!-- Header Bar -->
    <header class="flex items-center justify-between bg-[#3d72fe] shadow-xl">
      <div>
        <!-- Logo and App name -->
        <h1
          class="flex items-center text-nowrap p-3 px-5 font-rubik text-2xl font-medium text-white"
        >
          <img
            src="{{ url_for('static', filename='media_resources/logopng.png') }}"
            alt="App logo"
            class="mr-2 inline-block h-10"
          />
          Absinthe Todo
        </h1>
      </div>

      <!-- User Avt and Name -->
      <div id="user-info">
        <button
          class="mr-2 flex items-center transition-all duration-300 focus:outline-none active:scale-110 active:opacity-80"
        >
          <span class="mr-3 font-roboto text-sm text-white">John Doe</span>
          <img
            src="https://via.placeholder.com/40"
            alt="User Avatar"
            id="user-avatar"
            class="hidden h-10 w-10 rounded-full sm:block"
          />
        </button>
      </div>
    </header>

    <!-- Logout menu -->
    <div
      id="logout-menu"
      class="absolute right-3 mt-2 hidden -translate-y-4 transform cursor-pointer rounded-md border-2 bg-white font-rubik opacity-0 shadow-sm transition-all duration-150"
    >
      <ul>
        <li class="text-md p-2 text-sm font-medium text-black">
          <a href="{{ url_for('logout') }}">LOG OUT</a>
        </li>
      </ul>
    </div>

    <!-- Task management -->
    <main
      class="mx-auto mt-24 max-w-3xl rounded-md border bg-white font-rubik shadow-xl"
    >
      <!-- Add task -->
      <div
        class="relative mx-4 my-1 flex justify-around after:absolute after:bottom-0 after:left-0 after:h-px after:w-full after:bg-gray-300 after:transition-all after:duration-300 after:ease-in-out focus-within:after:bg-black"
        id="add-task-container"
      >
        <input
          type="text"
          placeholder="Type here to add new task..."
          class="mr-2 w-full outline-none"
          id="task-input"
        />
        <button
          type="submit"
          title="Add task"
          id="add-task-btn"
          class="p-3 transition-all duration-500 ease-in-out hover:rounded-full hover:bg-gray-100"
        >
          <svg
            class="text-white-800 h-6 w-6 transition-all duration-300 ease-in-out"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="#bdbdbd"
            viewBox="0 0 24 24"
            id="add-task-icon"
          >
            <path
              fill-rule="evenodd"
              d="M3 4a1 1 0 0 0-.822 1.57L6.632 12l-4.454 6.43A1 1 0 0 0 3 20h13.153a1 1 0 0 0 .822-.43l4.847-7a1 1 0 0 0 0-1.14l-4.847-7a1 1 0 0 0-.822-.43H3Z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>

      <!-- Display tasks -->
      <div class="mx-6 mb-3 mt-1">
        <ul id="task-list">
          {% for task in tasks %}
          <li
            data-id="{{ task.id }}"
            class="task-item group relative flex w-full items-center justify-between py-1"
          >
            <input
              type="checkbox"
              class="task-checkbox mr-4 h-5 w-5 cursor-pointer"
              {%
              if
              task.completed
              %}
              checked
              {%
              endif
              %}
            />
            <input
              type="text"
              value="{{ task.content }}"
              class="task-content flex-1 px-1 outline-none"
            />
            <button
              class="task-delete p-2 transition-all duration-500 ease-in-out hover:rounded-full hover:bg-gray-100"
              title="Delete task"
              type="button"
            >
              <svg
                class="text-black-800 h-[24px] w-[24px]"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="#de5246"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </li>
          {% endfor %}
        </ul>
      </div>
    </main>
  </body>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</html>
