<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='media_resources/favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css')}}"
    />
    <title>Absinthe Todo</title>
  </head>
  <body class="bg-[#fafafa]">
    <!-- Header Bar -->
    <header class="flex items-center justify-between bg-[#3d72fe] shadow-xl">
      <div>
        <!-- Logo and App name -->
        <h1
          class="flex items-center text-nowrap p-3 px-5 font-sans text-2xl font-semibold text-white"
        >
          <img
            src="../static/media_resources/logopng.png"
            alt="App logo"
            class="mr-2 inline-block h-10"
          />
          Absinthe Todo
        </h1>
      </div>

      <!-- User Avt and Name -->
      <div id="user-avatar">
        <button class="mr-4 flex items-center focus:outline-none">
          <span class="mr-2 text-white">John Doe</span>
          <img
            src="https://via.placeholder.com/40"
            alt="User Avatar"
            class="h-10 w-10 rounded-full"
          />
        </button>
      </div>
    </header>

    <!-- Logout menu -->
    <div
      id="logout-menu"
      class="absolute right-3 mt-2 hidden cursor-pointer rounded-md border-2 bg-white shadow-sm"
    >
      <ul>
        <li class="text-md p-2 text-sm font-medium text-black">
          <a href="{{ url_for('logout') }}">LOGOUT</a>
        </li>
      </ul>
    </div>

    <!-- Task management -->
    <main
      class="mx-auto mt-24 max-w-3xl rounded-md border bg-white p-3 px-5 shadow-xl"
    >
      <!-- Add task -->
      <div class="flex justify-around">
        <input
          type="text"
          placeholder="Type here to add new task..."
          class="mr-2 w-full rounded-md focus:outline-none"
        />
        <button type="submit">
          <svg
            class="text-white-800 h-6 w-6"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="#bdbdbd"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M3 4a1 1 0 0 0-.822 1.57L6.632 12l-4.454 6.43A1 1 0 0 0 3 20h13.153a1 1 0 0 0 .822-.43l4.847-7a1 1 0 0 0 0-1.14l-4.847-7a1 1 0 0 0-.822-.43H3Z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>

      <!-- Display tasks -->
      <div class="mt-4 w-full">
        <ul class="w-full">
          <li class="mb-2 flex w-full items-center justify-between">
            <input
              type="checkbox"
              name="Task 1"
              id="task1"
              class="mr-4 h-5 w-5 cursor-pointer"
            />
            <input
              type="text"
              name="task1_content"
              id="task1_content"
              placeholder="This is a task"
              class="flex-1 border-none px-2 py-1 focus:outline-none"
            />
            <button>
              <svg
                class="text-black-800 h-[24px] w-[24px]"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="#de5246"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </main>
  </body>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</html>
